nix_direnv_watch_file ./misc/packaging/flake.nix
nix_direnv_watch_file ./misc/packaging/flake.lock
use flake ./misc/packaging/

path_add OCAMLPATH ./build/lib
export MCORE_LIBS=stdlib=$(expand_path ./stdlib)
